
/*Style.scss*/
@import 'bootstrap';
@import 'foundation';
@import 'normalize';


/* mixins
---------------------------------------------------------- */


/*--------------- Border Radius --------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}


@mixin hero-text ($textColor) {
  font-family: 'Rambla', Helvetica, Arial, sans-serif, sans-serif;
  font-size: 40px;
  font-weight:400;
  color:$textColor;
  letter-spacing: -.02em;
  line-height: 3.5rem;
    -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
    display: block;
  -webkit-margin-before: 2rem;
  -webkit-margin-after: 2rem;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

$bodyColor:#FCFEFF;
$heroTextColor:#ffffff;
$btnOrange:#FF5F30;
$btnOrangeLight:rgba($btnOrange,.7);
$btnGreen:#49B529;

$defaultTextColor:#3A4145;


$section5Bg:#ECF4FE;
$ribbon: #0E54A7;
$ribbonAfter:#063165;
/* --- Section 5 Ribbon 2 ----*/

$freshcolor   : #47b372;
$darkcolor    : #192238;

$offerTopBgColor:#DCEFFF;

$green:#4fdb94;
$pink:#ca8896;
$darkBlue:#074E77;
$lightBlue:#DCEFFF;
$shineyBlue:#0EA5FF;
$grey:#757575;




$compare:#F4F4F6;
$columnTablesA: #E0E0E0;
$columnTablesAN2:#c8cbcd;
$columnListLast:#5bc739;
$columnListLastN2: #56bd36;
$columnListLastShadow1:#499f2e;
$columnListLastShadow2:#56bd35;
$tablesAText:#65717c;


/* sitewide
---------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

.clearfix:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.section:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.section:before,
.wrap:after {
	clear: both;
	content: " ";
	display: table;	
}

img {
	max-width: 100%;
}

body {
	background:$bodyColor;
	color: $defaultTextColor;
	font-size: 18px;
	font-family: Merriweather,'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	margin:auto;
}

.innerRow{
  width: 95%;
  margin: auto;
}

p{
      padding-bottom: 5px;
}



/* margins & padding
---------------------------------------------------------- */

.mg-top-xs{
  margin-top: 2rem;
}

.mg-top-sm{
	margin-top: 3rem;
}
.margin-right-sm{
	margin-right: 4rem;
}
.mg-top-md{
  margin-top: 6rem;
}
.mg-btm-xs{
  margin-bottom: 2rem;
}
.mg-btm-sm{
  margin-bottom: 2.5rem;
}x

.pd-top-xs{
  padding-top: 1.5rem;
}

.button{
	text-decoration: none;
  a {
    color:#fffffd;
    text-decoration: none;
  }
}
.social-container
{
	margin-top: 3rem;
	
}

.row-lg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width:100%; }


.border{
  border: 1px solid #e9ebee;
  padding: 2px;
}


/*--------------- Colors --------------*/


$whitee: #fffffe;

$light-yellow: #fffcf1;

$black: #000000;

$white-light: rgba(255, 255, 255, 0.35);


/*--------------- Text  --------------*/
.whitetext{
  color:#FFFFFF;
}
.yellowtext{
  color:#ffbd0f;
}
.light-blue{
  color: #96bedf;
}
.nodec{
	text-decoration: none;
}
.navbar-default{
  background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #478ac4;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #337ab6;
}

.merri {
  font-family: 'merriweather', 'Lato', sans-serif;
}
.pmarker{
  font-family: 'Permanent Marker', 'Open Sans',sans-serif;
}

.sig{
   font-family: 'Permanent Marker', 'Open Sans',sans-serif;
   font-size: 30px;
}

.pink{
  color:$pink;
}

blockquote {
  
  margin-bottom: 0.5em;
  font-style: italic;
 

  
  

  &:after{
    content: no-close-quote;
  }


  
}
blockquote, {
  margin: 0.5em 0 1em 0;
  line-height: 1.5em;
  text-align: left;

  cite{
    color: #666;
    display: block;
    margin-left: 30px;
    font-size: 14px;

  }
}

p{
  font-family: Merriweather,'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #defaultTextColor;
    letter-spacing: 0.01rem;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

#content-container p{
  margin-bottom:32px;
}

h1{
  font-family: 'Rambla', Helvetica, Arial, sans-serif, sans-serif;
  letter-spacing: -.02em;
}
h2 {
  font-family: Merriweather,'Sanchez','Open Sans', Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 25px;

}

.navbar-header {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.hero-text-container {
  font-family: Merriweather,'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:20px;
  color: #3A4145;
    letter-spacing: 0.01rem;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
    display: block;
 
  

}

.hero-headline-white{
  padding-bottom: 2rem;
}



.hero-text-h1{
  @include hero-text($heroTextColor);

}

.hero-black-h1{
  @include hero-text(#000000);
}
.hero-darkBlue-h1{
  @include hero-text(#074E77);
}



.textBlack{
  color:#000000 !important;
}
.textDarkBlue{
  color:$darkBlue !important;
}

.hero-text-h2 {
  font-family:  Merriweather,'Open Sans', Helvetica, Arial, sans-serif;
  color: $heroTextColor;
  font-size: 22px;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  
}
.hero-text-h3{
//margin-top: -1.5rem;
font-size: 20px;
color:$heroTextColor;
font-weight: 400;
}

.timerInner{
  padding: 2rem 0 2rem 0;
}

#timer p{
    -webkit-font-smoothing: auto !important;
  -moz-font-feature-settings: inherit;
  -o-font-feature-settings: inherit;
  }

  .timer-position{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.text-left{
  text-align: left;
}

.videoWrapper {

}

.optinHero{
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/*--------------- Bg Images & colors --------------*/

.logo{
    max-height: 3rem;

}

.hero-img{
       position: relative;
    overflow: hidden;
    background: #1d2b64;
    background:  radial-gradient(circle farthest-side at right bottom, #DCEFFF 5%, #61ADEF 25%, #074E77 80%, #0E133A 98%), url("../img/bg.png");
        min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

  
}

.white{background-color: $whitee;}

.white-light-bg{
  background-color: $white-light;
  padding-top: 1rem;
  }


/*--------------- images  --------------*/

  .polaroid {
  position: relative;
  width: 220px;
}
 
.polaroid img {
  border: 15px solid #fff;
  border-bottom: 55px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
 position: absolute;
  text-align: center;
  width: 70%;
  bottom: -18px;
  left: 9px;
  font: 400 18px/1 'Permanent Marker', cursive;
  color: #888;
}


/*--------------- other  --------------*/

.hero-subhead{
  text-align: left;
  line-height: 1.3em;
  font-size: 25px;
}

.hero-subhead-container{
  width:57rem;
  margin-left: 10.2em;
}






/*--------------- rows  --------------*/
.rowLg{
  max-width: 100% !important;
}

.white-row{
background: white;
border-top: 1px solid #d4d4d4;
border-bottom: 1px solid #d4d4d4;
}

.light-yellow-row{
  background: $light-yellow;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.min28{
  min-height: 28rem;
}




/*--------------- Buttons  --------------*/

.yellow-btn{
  background-color: #ffd424;
  border: 1px solid #fba400;
  color: #504310;
  text-shadow: 0 1px rgba(255,255,255,0.45);

    &:hover{
      background-color: rgba(255, 212, 36, 0.75);
      color: #504310;
      text-decoration: none;
    }
}

.green-btn{
background-color: $btnOrange;  
font-family: rambla;
font-size: 1.9rem !important;

    &:hover{
      
      text-decoration: none;
      background-color: $btnOrange; 
      opacity: .9; 
    }

}

.green-hover{
  color:#89CB76;
   
  
}

.btnOrange {
 background-color: $btnOrange; 
 text-decoration: none;

 &:hover{
  text-decoration: none;
  background-color: $btnOrange;
  opacity: .9 ;
 }
}

.btnOrangeLight {
 background-color: $btnOrangeLight; 
 text-decoration: none;

 &:hover{
  text-decoration: none;
  background-color: $btnOrangeLight;
  opacity: .9 ;
 }
}



/*--------------- images  --------------*/

.img-box{

border: solid #fff 10px;
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.img-box-sm{
border: solid #fff 5px;
-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
//width: 7rem;


}

.expert-li figure {
  overflow: hidden;
  position: absolute;
  //width: 100%;
  height: 3rem;
  
}



.expert-li figcaption {
  background: rgba(255, 212, 36, 0.85);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
 

}

.expert-li:hover figcaption {
  opacity: 1;
}
 
.expert-li figcaption p {
  display: table-cell;
  font-size: 1em;
  position: relative;
  //top: -40px;
  //width: 33.3%;
  vertical-align: middle;
  text-align: center;
 
}



figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* Countdown Timer Styles */
.countdown {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.countdown li {
    float: left;
    text-align: center;
    margin: 0 2px !important;
}
.countdown li .flap {
    background-color: #FFFFFF;
    width: 64px;
    min-height: 58px;
    padding: 10px 0;
    vertical-align: middle;
    display: table-cell;
}
.countdown li .flap span {
    width: 64px;
    display: inline-block;
    color: #000000 !important;
    font-weight: 100 !important;
    font-size: 24px;
    line-height: 30px !important;
    position: relative;
    text-align: center;
}
.countdown p {
    display: inline-block;
    float: left;
    font-weight: 400 !important;
    color: #ffffff !important;
    font-size: 11px !important;
    text-align: center;
    width: 64px !important;
    line-height: 20px;
    text-transform: uppercase;
    margin: 1px 0 0 0;
}

.countdown2 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.countdown2 li {
    float: left;
    text-align: center;
    margin: 0 2px !important;
}
.countdown2 li .flap {
    background-color: #000000;
    width: 64px;
    min-height: 58px;
    padding: 10px 0;
    vertical-align: middle;
    display: table-cell;
}
.countdown2 li .flap span {
    width: 64px;
    display: inline-block;
    color: #ffffff;
    font-weight: 100 !important;
    font-size: 24px;
    line-height: 30px !important;
    position: relative;
    text-align: center;
}
.countdown2 p {
    display: inline-block;
    float: left;
    font-weight: 400 !important;
    color: #000000 !important;
    font-size: 11px !important;
    text-align: center;
    width: 64px !important;
    line-height: 20px;
    text-transform: uppercase;
    margin: 1px 0 0 0;
}
/*------What-----*/



.whatWrap{
  background-color: #074E77;
}
.what{
     
  color: white;
    padding: 4rem 0 4rem 0;
    margin: 2rem auto 2rem auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


    ul{
      list-style-position: inside;
      text-align: left;
      list-style: none;
      li{
          display: flex;
          align-items: center;

          p{
            padding-left: 10px;
          }
      }

      li:before {
        
        content: url(../img/whatbullet.svg);
      }
    }
}



/*--- Features----*/


.featuresTop{
  list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.featureWrap{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-top: 1rem;

}

.feature{
      //width: 50%;
    padding: 1%;
        width: 100%;
}

.featureList{
  list-style: none;
  text-align: left;
  width: 100%;
  order:2;
  li{
    padding-bottom: 10px;
  }
}



/*------Offer Top---*/
.offerTopWrap{
  background-color: $offerTopBgColor;
}
.offerTop{
  padding: 4rem 0 4rem 0;
  
  p:first-child{
    text-align: center;
  }
}

.celebrate{
      display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    img{
      height: 9vh;
      width: 20%
    }
}

/*-------- Bonus ----*/

.bonusList{
  list-style-type: none;
  width: 100%;
}

 .founderBonus{
    border: 5px solid $pink;
    margin: 4rem auto 2rem auto;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;

    >p{
    text-transform: uppercase;
    padding: 25px;
    border-bottom: 5px solid $pink;
    letter-spacing: 5px !important;

    }
    ul{
      
    }
}


.section5Bg{
  background-color: $section5Bg;
}

.ribbon-wrapper {
  overflow: hidden;
  position: relative;
 
  right: calc(-35px);
  float: right;
  margin-bottom: 22px;
  //margin-top: -22px;
  padding-top: 22px;
  width: 100%;
  white-space: nowrap;
  right:-21px;
}

.ribbon-container {
  color: #fffffa;
  clear: both;
  font-size: 30px;
  font-weight: 700;
  background: $ribbon;
  height: calc(55px);
  padding: 7px 22px;
  position: relative;
  float: right;
  max-width: 100%;
  width: 90%;
  white-space: nowrap;
  display: flex;
 justify-content: center;
 align-items:center;
 

  &:before{

  content: "";
  position: absolute;
  bottom: 0;
  border: 27px solid $ribbon;
  height: 0;
  z-index: 5;
  left: -36px;
  border-left-width: 15px;
  border-left-color: transparent;
  padding: 1px 0 0 0;
  }

  &:after{

  content: '';
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 a;
  color: transparent;
  text-decoration: none;
  border-width: 20px 0 0 21px;
  border-color: transparent $ribbonAfter;
  border-style: dashed solid;
  }

}

p.ribbon {
  font-size: 18px;
  margin-bottom: 0!important;
}

.bonusText{
  width: 90%;
  margin: auto;
}


/* --- Ribbon 2 ----*/





.rowRibbon {
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
}

.blockRibbon {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.rowRibbon h1 {
  position: relative;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.15em;
  white-space: nowrap;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;

  &:after,
  &:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -.5em;
    width: 1em;
    height: 100%;
    background-color: lighten($freshcolor,10);
    pointer-events:none;
  }

  &:after {
    right: -.57em;
    z-index: -1;
  }

  &:before {
    bottom: auto;
    top: -.5em;
    left: -.57em;
    z-index: -1;
  }

  a {
    display: inline-block;
    position: relative;
    padding: .15em .75em;
    text-decoration: none;
    color: darken($darkcolor,0);
    background-color: lighten($freshcolor,20);


    &:after,
    &:before {
      content: " ";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      bottom: -.5em;
      left: -.05em;
      pointer-events: none;
      -webkit-mask: none;
    }

    &:before {
      bottom: auto;
      top: -.5em;
      border-bottom: .5em solid darken($freshcolor,10);
      border-left: .5em solid transparent;
    }

    &:after {
      left:  auto;
      right: -.05em;
      border-top: .5em solid darken($freshcolor,10);
      border-right: .5em solid transparent;
    }
  }

}

/*--- FAQ---*/

.faq{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin:auto;
    text-align: left;

    .hero-darkBlue-h1{
      -webkit-margin-after: .5rem;
    }

}

.faqLine{
  border-top: 2px solid $darkBlue;
  width: 7rem;
  margin: 2rem 0 2rem 0;
}

.faqSection{
 

}



/*---- Pricing-----*/


.buy{
  width: 95%;
  margin:auto;
  padding: 2rem 0 2rem 0;


  h2{

      color: #FFF;
      text-align: center;
      text-transform: uppercase;
      padding: 30px;
      letter-spacing: 3px;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 0;
  }

  .tier1, .tier3{
     .tierText{
      background-color: $darkBlue
     }
    
  }
 .tier2{
     box-shadow:  0px 2px 2px 2px $grey;
      .tierText{
        background-color: $shineyBlue;
        padding-bottom: 40px;
     }
     //li:nth-child(n+2):nth-child(-n+4){
      //opacity: .5;
     //}
   }  

}

.buyList{
  list-style: none;
  padding-left: 0;  
  color:$tablesAText;
  
  li:nth-child(2n){
    background: $columnTablesA;
  }
  li:nth-child(1){
    border-top: 1px solid $columnTablesAN2;
  }
  li{
        font-size: 16px;
    padding: 1rem;
    height: 98px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}


.tier1,.tier2,.tier3 {
  li:nth-child(-n+3){
    padding:.5rem .5rem .5rem .5rem;
    height: 60px;
    h3{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  li:nth-child(2){
    background:#ffffff !important;
  }
  li:nth-child(3){
  background: #ffffff !important;
  padding-bottom: 10px;
  border-bottom: 2px dashed #074E77;
  //font-family: 'Permanent Marker', 'Open Sans',sans-serif;
  }

}


.buyOption{
  border-style: solid;
  border-width: 2px;
  margin: 1rem;
      display: flex;
    flex-direction: column;
}






.strike {
    position: relative;
    display: inline-block;
     font-family: 'Permanent Marker', 'Open Sans',sans-serif;
   font-size: 30px;
  &:before {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    border-bottom: 5px solid $btnOrangeLight;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    opacity: .8;
    
  }
}

.lowestPriceWrap{

}

.lowestPrice{
  padding: 2rem
}



/*--Testing*/
/*--Compare--*/
.compareWrap{
  padding-top: 40px;
  padding-bottom: 40px;
}

.compareListWrap{
  display: flex;
  align-items: center;
  justify-content:center;
  padding-top: 40px;
  padding-bottom: 40px;


  li{
  margin: 0;
    padding: 0;
    list-style: none;
    
  }
  ul{
    
  }
  ul li{
    height: 60px;
  }
}
.compareListColumn{
  width: 25%;
  float: left;

}
.compareTables, .compareTablesA, .compareTablesB{
  padding:0 !important;
  li{
    display: flex;
    align-items:center;
    justify-content:center;
  }

}

.compareTablesA{
  color:$tablesAText;
  li:nth-child(2n){
    background: $columnTablesA;
  }
  li:nth-child(1){
    border-top: 1px solid $columnTablesAN2;
  }

}

.compareTablesB{
  font-weight: 700;
  li:nth-child(2n){
    background:$columnListLastN2;
  }
}


.compareTables1 li{
  margin-right: 1rem;
    border-bottom: 1px dashed $columnTablesAN2;
    background: transparent;
    height: 60px;
    //padding-top: 35px;
}
.compareTableItem{
    height: 80px;
    padding-top: 35px;
}
.compareListColumnLast{
  position: relative;
    z-index: 2;
    overflow: hidden;
    margin-top: -20px !important;
    padding: 20px 0 0 0 !important;
    border: none !important;
      border-radius: 4px;
    background-color: $columnListLast;
    box-shadow: 0 10px 0px $columnListLastShadow1,inset 0 -1px 0 $columnListLastShadow2,0 15px 30px rgba(0,0,0,0.3);
}
/*Style.scss*/

@import 'mediumscreen';
@import 'largescreen';
@import 'extralarge'


	

